@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap');

body {
    overflow: auto;
}

.container_body {
    width: 80%;
    margin: 0 auto;
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.container-wrap {
    padding: 20px 10px;
}

.border_vide {
    height: 1px;
    background-color: rgb(160, 158, 158);
    width: 900px;
    margin: auto;
}

.reservation-text {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

/*************page logo and text***********************/
.logo-name {
    width: 30%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    animation: scale .5s forwards;
}

.logo-name img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #000;
}

.logo-name .border {
    width: 2px;
    height: 30px;
    background: #ffd500;
    margin-left: 0.3rem;
    margin-top: 0.3rem;
}

.logo-name .site-nom {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    color: #000;
    margin-left: 0.3rem;
    margin-top: 0.2rem;
}

/******end logo***************/

/*****************tips******************/
.tips {
    width: 29rem;
    height: 4rem;
    margin: 0 auto;
    margin-top: 1rem;
    opacity: 0;
    animation: fadeUp .5s forwards;
    animation-delay: .3s;
}

.tips p {
    font-size: 14px;
    text-align: center;
    line-height: 1.5rem;
}

/************end tips*************/

/************end logo and text**********************/

/**************animation for logo and text****************/
/**********animation for logo**********/
@keyframes scale {
    0% {
        transform: scale(1.4);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/**********end animation for logo***********/

/***********animation for the tips************/
@keyframes fadeUp {
    0% {
        transform: translateY(5rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/*******end animation for tips***************/
/***********end animation*****************/

/***********principal*************************/
.principal {
    margin: 0 auto;
    margin-top: 2rem;
    padding: 10px 35px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

/***********barre-test*************************/
.principal .barre-test {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: unset;
    border-bottom: 1.5px solid rgb(160, 158, 158);
}

.principal .barre-test a {
    font-size: 25px;
    margin-left: 1rem;
    padding-left: 4px;
    padding-top: 1.5px;
    text-decoration: none;
    color: #000;
}

a .like {
    color: orange;
}

a .dislike {
    color: #01031e;
}

.principal .barre-test a .refresh {
    padding-top: 1px;
    position: relative;
    left: 0.2rem;
    font-size: 27px;
}

.principal .barre-test a .search {
    padding-top: 3px;
}

.principal .barre-test a .trash {
    position: relative;
    left: 0.5rem;
}

.principal .barre-test .barre-border {
    width: 1.5px;
    height: 30px;
    margin-left: 0.8rem;
    position: relative;
    left: 0.3rem;
    background: rgb(168, 168, 168);
}

/***********checkbox all******************************/
.container-check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0.47rem;
    left: 1.5rem;
    height: 18px;
    width: 18px;
    border-radius: 3px;
    background-color: #eee;
    border: 1px solid gray;
}

/* On mouse-over, add a grey background color */
.container-check:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-check input:checked~.checkmark {
    background-color: #01031e;
    border: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-check input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-check .checkmark:after {
    left: 6px;
    top: 3px;
    width: 6px;
    height: 11px;
    border: solid #fff;
    border-width: 0 2.5px 2.5px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/********end checkbox all******************************/

/****************barre de recherch******************/

.principal .barre-test .chercher {
    width: 40%;
    height: 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 8rem;
    box-sizing: border-box;
    text-align: center;
    visibility: hidden;
    background: transparent;
}

.chercher .search_btn {
    cursor: pointer;
}

.chercher .search_nom::placeholder {
    text-transform: none;
}

.principal .barre-test .chercher.active {
    visibility: visible;
    transition-delay: 0.2s;
}

.principal .barre-test .chercher input {
    width: 250px;
    height: 30px;
    padding-left: 5px;
    margin-left: 2rem;
    font-size: 15px;
    background: transparent;
    text-transform: uppercase;
    border: none;
    outline: none;
    appearance: none;
}

.chercher button {
    background: transparent;
    text-align: center;
    border: none;
}

.chercher button i {
    font-size: 25px;
    color: #01031e;
    position: relative;
    top: 0.3rem;
}

.principal .barre-test #close {
    font-size: 25px;
    color: #01031e;
    margin-left: 1.7rem;
    visibility: hidden;
    background: transparent;
}

.principal .barre-test #close.active {
    visibility: visible;
    transition-delay: 0.2s;
}

.principal .barre-test .close {
    margin-top: 0.25rem;
    transform: rotate(45deg);
}

/***********end barre de recherch****************/

/***********barre-test*************************/
.principal .list {
    max-height: 50vh;
    margin-top: 0.5rem;
    padding: 5px 10px;
    overflow: hidden;
    overflow-y: scroll;
    max-height: 40vh;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #ddd;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    cursor: pointer;
}

.list-item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.list-item .collab_details {
    display: grid;
    grid-template-columns: auto 9%;
    background: rgba(242, 245, 245, 0.8);
    margin-bottom: 7px;
}

.collab_details .clb_det {
    text-decoration: none;
}

.collab_details:hover {
    box-shadow: inset 0 1px 0 0 #dadce0, inset 0 -1px 0 0 #dadce0, inset 0 1px 0 0 rgba(60, 64, 67, .3),
        0 1px 3px 1px rgba(60, 64, 67, .15);
    z-index: 1;
}


.clb_det .items {
    display: flex;
    flex-direction: row;
    padding: 5px 5px;
    color: #000;
    justify-content: start;
    align-items: center;
    /* border: 1px solid rgb(146, 145, 145); */
}

.items .name, 
.items .profession,
.items .facture_total {
    padding: 3px 3px;
}

.items .profession,
.items .facture_total {
    margin-left: 1rem;
    padding: 3px 10px;
    border-left: 1px solid rgb(146, 145, 145);
}

.collab_details .suppression {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 4px 0px 2px 0px;
   
}

.suppression i {
    font-size: 23px;
    color: #000;
    vertical-align: baseline;
    cursor: pointer;
}

.suppression .edit{
    margin-top: 2px;
}

/****************checkbox for the cards********************/

.case_cocher {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3px;
}

.container-check {
    display: block;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark1 {
    position: absolute;
    right: 15px;
    height: 17px;
    width: 17px;
    border-radius: 3px;
    background-color: #eee;
    border: 1px solid gray;
}

/* On mouse-over, add a grey background color */
.container-check:hover input~.checkmark1 {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-check input:checked~.checkmark1 {
    background-color: #01031e;
    border: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark1:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-check input:checked~.checkmark1:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-check .checkmark1:after {
    left: 5.6px;
    top: 2.4px;
    width: 6.0px;
    height: 10.5px;
    border: solid #fff;
    border-width: 0 2.5px 2.5px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/***************in case if there is no records*************************/
/*.container-vide{
    width: 90%;
    margin: 0 auto;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.container-vide .image{
    margin: 0 auto;
    width: 70%;
    height: 80vh;
    background-image: url(image/img10.png);
    background-repeat: no-repeat;
    background-size: 350px 350px;
    background-position: center;
    text-align: center;
}

.container-vide .image p{
    margin: 0 auto;
    margin-top: 26.5rem;
    width: 35rem;
    font-size: 14px;
    line-height: 1.5rem;
}

.image p span{
    font-size: 19px;
    font-weight: 550;
}*/
.container-vide {
    width: 90%;
    margin: 0 auto;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.container-vide .image {
    margin: 0 auto;
    width: 70%;
    height: 65vh;
    background-image: url(image/img10.png);
    background-repeat: no-repeat;
    background-size: 350px 350px;
    background-position: center;
}

/*.container-vide .article{
    margin: 0 auto;
    text-align: center;
}

.container-vide .article p{
    margin: 0 auto;
    width: 28rem;
    font-size: 14px;
    line-height: 1.5rem;
}

.article p span{
    font-size: 19px;
    font-weight: 550;
}*/

.hidden_formulaires{
    margin-top: 25px;
}

.ajouter_user, .ajouter_facture {
    width: 900px;
    margin: auto;
}

.ajouter_user p,
.ajouter_facture p {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    color: #575555;
    cursor: pointer;
}

.ajouter_user p:hover,
.ajouter_facture p:hover {
    color: #000;
}

.ajouter_user span,
.ajouter_facture span {
    font-size: 14px;
    text-transform: none;
    letter-spacing: 0;
    box-sizing: border-box;
    line-height: 18px;
    text-rendering: optimizeLegibility;
    font-family: 'Roboto', sans-serif;
    margin-left: 5px;
}

/**********ajouter user*****************/
.formulaire_utilisateur, .formulaire_facture {
    padding: 10px;
    width: 880px;
    display: none;
    margin: auto;
}

.form_container_utilisateur,
.form_container_facture{
    box-shadow: 1px 1px 1px 1px #3b3b3b44;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: left;
}

.nom_prenom_title, .facture_title {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: left;
}

.nom_prenom_title div,
.facture_title div {
    margin-bottom: 10px;
}

.petit_titre span {
    font-size: 18px;
    font-weight: 500;
}

.nom_prenom, .facture {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-right: 1px solid #a4a5a5;
    padding: 10px 10px 0px 5px;
    justify-content: left;
    padding-left: 5px;
    width: 810px;
}

.nom_prenom input, select,
.facture input, select{
    width: 270px;
    height: 40px;
    border-radius: 4px;
    padding: 0 12px;
    font-size: 14px;
    color: #000;
    box-sizing: border-box;
    border-collapse: separate;
    outline: none;
    vertical-align: middle;
    background-color: transparent;
    border: solid thin #a4a5a5;
    transition: border ease 1s;
    margin-bottom: 15px;
}

.modal-body{
    padding: 10px 0px 10px 18px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.modal-body .fact_year,
.modal-body .fact_type{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}

.fact_type{
    margin-top: 10px;
}

.modal-body input{
    width: 270px;
    height: 40px;
    border-radius: 4px;
    padding: 0 12px;
    font-size: 14px;
    color: #000;
    box-sizing: border-box;
    border-collapse: separate;
    outline: none;
    vertical-align: middle;
    background-color: transparent;
    border: solid thin #a4a5a5;
    transition: border ease 1s;
}

.btn{
  font-size: 13px;
  text-align: center;
  padding: 7px 8px;
  border-radius: 50px;
}

.facture #electricite,
.facture #eau{
    width: 200px;
    margin-left: 20px;
}

.corrdones{
    margin-bottom: 15px;
}

.nom_prenom #cne {
    width: 180px;
}

.nom_prenom #sexe, #telephone, #profession, #pays {
    width: 230px;
}
#telephone{
    margin-left: 30px;
}

.nom_prenom input:hover {
    border: 1px solid #000;
}

.nom_prenom #mail, #mot_de_passe {
    width: 300px;
}

#prenom, #cne, #profession, #mot_de_passe, #pays {
    margin-left: 20px;
}

.submit {
    width: 700px;
}

.border_vide_2 {
    height: 1px;
    background-color: #a4a5a5;
    width: 400px;
    margin-left: 8px;
}

.btn_formulaires{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 13px;
}

.btn_formulaires button {
    padding: 6.5px 20px;
    background: linear-gradient(135deg, #009dc1, #F7941E);
    color: #fff;
    outline: none;
    appearance: none;
    border: none;
    cursor: pointer;
    transition: border ease 0.5s;
    border-radius: 50px;
    text-align: justify;
    vertical-align: middle;
}

.btn_formulaires button:hover {
    opacity: 0.9;
}

.btn_formulaires a{
    text-decoration: none;
    padding: 5px 13px;
    border-radius: 50px;
    cursor: pointer;
    color: #000;
    background: transparent;
    border: 1.3px solid #dadce0;
    margin-left: 13px;
    transition: border ease 0.7s;
}

.btn_formulaires a:hover{
    border: 1.3px solid #000;
}