@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap');

/*===== VARIABLES CSS Y SASS =====*/
/*Varibles sass*/
/*Variables css*/

body {
  overflow-x: hidden;
}

/**************************************************************************/
#logo_royaume{
padding-top: 3px;
padding-bottom: 10px;
width: 35%;
height: auto;
justify-content: center;
}

/*===== Colores =====*/
:root {
  --first-color: #12192C;
  --second-color: #ffd500;
  --white-color: #fff;
}

/*===== Fuente y tipografia =====*/
:root {
  --body-font: 'Quicksand', sans-serif;
  --small-font-size: 0.875rem;
}

@media screen and (min-width: 768px) {
  :root {
    --small-font-size: 0.938rem;
  }
}

/*===== z index =====*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*===== BASE =====*/
*, ::before, ::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding: 1rem 0 0 5rem;
  font-family: var(--body-font);
  background-color: var(--white-color);
  -webkit-transition: .5s;
  transition: .5s;
}

h1 {
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/*=====  NAV =====*/
.l-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 245px;
  height: 100vh;
  background-color: #009dc1;
  padding: 1.25rem .5rem 2rem;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: var(--z-fixed);
}

.nav_b {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  overflow: hidden;
}

.nav__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 2rem;
  padding: 0 .5rem;
}

.nav__logos-icon {
  width: 2.6rem;
  height: 2.6rem;
  margin-left: -0.45rem;
  border-radius: 50%;
  animation: fadeUp .5s forwards;
}

.nav__logos-text {
  color: var(--white-color);
  font-weight: 500;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 13px;
  letter-spacing: 0.08rem;
  margin-left: 5px;
}


.nav__toggle {
  position: absolute;
  top: 1.10rem;
  right: -.6rem;
  width: 22px;
  height: 22px;
  background-color: var(--second-color);
  border-radius: 50%;
  font-size: 1.25rem;
  color: var(--first-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.nav__dict {
  margin-top: 2rem;
  padding: 0 ;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.nav__lien {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: .5rem;
  padding-left: .55rem;
  margin-bottom: 0.6rem;
  border-radius: .5rem;
  color: #ffffff;
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none;
}

#ads {
  padding-bottom: .1rem;
  padding-left: .5rem;
}

#ads:hover {
  border: 1px solid var(--second-color);
  background-color: #01031e;
  color: #7467d3;
}


.nav__lien:hover {
  background-color: var(--second-color);
  color: #01031e;
}

#nav-link-close {
  margin-top: 1.4rem;
}

.nav__icon {
  font-size: 1.5rem;
  margin-right: 1rem;
}

#add {
  width: 1.8rem;
  height: 1.8rem;
  margin-left: -0.1rem;
}

.nav__texte {
  font-size: 15px;
  font-weight: 550;

}


#ads-text {
  font-weight: 550;
  font-size: 12px;
  margin-left: -0.5rem;
  margin-top: -0.5rem;
}

/*Show menu*/
.show {
  width: 185px;
}

/*Rotate toggle*/
.rotate {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: .5s;
  transition: .5s;
}

/*Active links menu*/
.active {
  background-color: var(--second-color);
  color: #000;
}

/*Add padding body*/

main {
  width: calc(100% - 185px);
  margin: 0 auto;
  position: absolute;
  top: 0;
  right: 0;
}


/**************************************************************************/
.first {
  /* padding-top: 2rem; */
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.first img {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  border-radius: 50%;
}

.first #text-body, #titre {
  margin: 0 auto;
  text-align: center;
  margin-top: 1rem;
}

.first #titre {
  width: 78%;
  word-break: break-all;
  word-wrap: break-word;
}

.first .img-body {
  height: 600px;
  width: 600px;
  margin: 0 auto;
  margin-top: 2rem;
  background-image: url('image/Image_2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.first .notify {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.first .notify #notify-img {
  width: 4rem;
  height: 4rem;
  margin: 0 auto;
  margin-top: 0.8rem;
  margin-left: -6rem;
}

.first .notify #notify-titre {
  width: 70%;
  margin: 0 auto;
  text-align: left;
  margin-top: 1rem;
}

/****************animation*************************************/
@keyframes fadeUp {
  0% {
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.dataTables_wrapper .dataTables_filter input {
  border: 0px solid #aaa !important;
  border-bottom: 1px solid #aaa !important;
}

