@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* global styling */

img {
    width: 100%;
}

/***************************** main ********************************/
.main_news {
    width: 85%;
    margin: 0 auto;
    padding: 0;
    margin-top: 35px;
}

.main_news .read_more {
    font-size: 13px;
    padding: 15px 0;
    display: block;
    transition: all 0.5s;
    font-family: 'Open Sans';
    text-decoration: none;
    color: #000;
}

.main_news span {
    transition: padding-left 0.5s;
}

.main_news .read_more:hover span {
    padding-left: 5px;
}

.main_news .read_more:hover {
    color: #009dc1;
}

/******************** main container left ****************************/

.main-container-left {
    padding: 0px 0px 0px 35px;
    font-family: 'Open Sans';
}

.main-container-left .group_link {
    display: block;
    text-decoration: none;
    line-height: 1;
    width: fit-content;
    padding: 0 7px 0 0;
    font-family: 'Source Sans Pro';
    font-size: 32px;
    color: #000;
    font-weight: 700;
}

.main-container-left .sports, .conférence {
    border-bottom: 9px solid #F7941E;
}

.main-container-left .culture {
    border-bottom: 9px solid #009dc1;
}

.main-container-left .b_mother1 h3 {
    padding: 10px 0;
    font-size: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.main-container-left .b_mother1 p {
    font-size: 15px;
    font-weight: 300;
    color: #808080;
    font-family: 'Open Sans';
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    /* number of lines to show */
    line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.main-container-left .first_article {
    margin-top: 30px;
}


/*** main container right */

.main-container-right {
    padding: 0px 30px 0px 55px;
    font-family: 'Open Sans';
}

.main-container-right .second_article {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    padding: 13px 0px 13px 0;
    border-bottom: 1px solid #e7e7e7;
}

.main-container-right .second_article .b_mother2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-right: 10px;
}

.b_mother2 .b_1 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.main-container-right .second_article:last-child {
    border-bottom: none;
}

.main-container-right .second_article img {
    width: 100px;
    height: 100px;
    align-self: center;
    margin-left: 35px;
    border-radius: 4px;
}

.main-container-right .b_1 h2 {
    font-size: 15px;
    font-family: var(--heading);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;

}

.main-container-right .b_1 p {
    font-size: 13px;
    font-weight: 300;
    margin-top: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}


@media(max-width: 500px) {
    .main-container-right .second_article {
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 1fr;
    }

    .main-container-right .second_article h4 {
        grid-row: 1/2;
        grid-column: 1/2;
        align-self: flex-start;
    }

    .main-container-right .second_article img {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .main-container-right .second_article div {
        grid-row: 1/3;
        grid-column: 2/3;
    }
}

@media(min-width: 992px) {
    .main_news {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}