.container_footer{
    margin-top: 5rem;
    background: #fff;
}

/************************* first col + img element *******************/
.col a img {
    width: 120%;
    object-fit: contain;
}

/************************* second col ******************************/
.col .col_titre, .flex-column {
    margin-left: 10px;
}

.col .flex-column {
    font-size: 12.5px;
}

.flex-column li a, span {
    display: inline;
}

.flex-column li a:hover {
    /*border-bottom: 1px solid #6c757d;*/
    border-bottom: 1px solid #F7941E;
}

.col .col_titre {
    font-size: 17px;
}